<asset src="/css/bootstrap.min.css"/>
<asset src="/css/owl.carousel.min.css"/>
<asset src="/css/owl.theme.default.min.css"/>
<asset src="/css/core.css"/>
<asset src="{{ @site.tpl.'/assets/css/style.css' }}"/>
<asset src="{{ @site.tpl.'/assets/css/shortcode/header.css' }}"/>
<asset src="{{ @site.tpl.'/assets/css/shortcode/slider.css' }}"/>
<asset src="{{ @site.tpl.'/assets/css/shortcode/footer.css' }}"/>
<asset src="{{ @site.tpl.'/assets/css/responsive.css' }}"/>

<asset src="/js/vendor/modernizr-2.8.3.min.js"/>